---
import Layout from '@/layouts/Layout.astro';

import { Navigation, Social } from '@/components/astro';

import { List } from '@/basic/react/list/components';

const items = [
	{ ciccia: 'Learn Astro'},
	{ ciccia: 'Join the community'},
	{ ciccia: 'Contribute to Astro'},
]

function addItem() {
	items.push({ ciccia: 'New item' });
}
---

<Layout>
	<Navigation />
	<List client:visible
		items={items}
		itemKey={'ciccia'}
	>
		<div>le cose</div>
	</List>
	<Social platform="cose" username="le super cose"/>
</Layout>
